{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"svelteAllowShorthand": false,
	"svelteSortOrder": "scripts-styles-markup-options",
	"svelteBracketNewLine": false
}
